@define-mixin media-query-desktop {
  @media (min-width: 920px) {
    @mixin-content;
  }
}

@define-mixin remove-number-input-arrows {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  -moz-appearance: textfield;
}
