@import "./_css_reset.css";
@import "./_mixins.css";

:root {
  --white: hsl(0, 0%, 100%);
  --color-primary: hsl(172, 67%, 45%);
  --color-primary-light: #9fe8df;
  --color-primary-very-dark: hsl(183, 100%, 15%);
  --color-primary-dark-grayish: hsl(186, 14%, 43%);
  --color-primary-grayish: hsl(184, 14%, 56%);
  --color-primary-light-grayish: hsl(185, 41%, 84%);
  --color-primary-very-light-grayish: hsl(189, 41%, 97%);
  --color-error: #e17457;
  --font-size: 16px;
  --font-family: "Space Mono", monospace;
  --font-weight: 700;
  --button-height: 48px;
  --input-height: 48px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color-primary-very-dark);
  background-color: var(--color-primary-light-grayish);
}

label {
  display: block;
  font-size: 16px;
  color: var(--color-primary-dark-grayish);
  display: flex;
  justify-content: space-between;
}

input[type="number"] {
  width: 100%;
  height: var(--input-height);
  border-radius: 5px;
  border: none;
  background-color: var(--color-primary-very-light-grayish);
  padding: 0 18px;
  text-align: right;
  font-size: 24px;

  &::placeholder {
    color: var(--color-primary-grayish);
  }

  @mixin remove-number-input-arrows;

  &:focus {
    border: 2px solid var(--color-primary);
  }

  &.error {
    border: 2px solid var(--color-error);
  }
}

button {
  width: 100%;
  height: var(--button-height);
  border-radius: 5px;
  border: none;
  background-color: var(--color-primary-very-dark);
  color: var(--white);
  font-size: 24px;

  &:hover,
  &:focus {
    background-color: var(--color-primary-light);
    color: var(--color-primary-very-dark);
  }
  &.active {
    background-color: var(--color-primary);
    color: var(--color-primary-very-dark);
  }
}

main {
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  padding: 50px 0 40px;

  @mixin media-query-desktop {
    padding: 163px 0 88px;
  }
}

.container {
  width: 375px;
  margin: 0 auto;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: var(--white);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .hidden {
    display: none;
  }

  & .card__tip-calculator {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & .form__group {
      position: relative;

      & img {
        --icon-height: 16px;
        position: absolute;
        bottom: calc(var(--input-height) / 2 - var(--icon-height) / 2);
        left: 20px;
      }

      & .error-text {
        display: none;
        &.active,
        &.active:focus {
          display: block;
          color: var(--color-error);
        }
      }
    }

    & label:not(.form__group__tip-percentage > label) {
      margin-bottom: 6px;
    }

    & .form__group__tip-percentage {
      display: flex;
      flex-direction: column;
      gap: 16px;
      & .tip-percentage {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;
        @mixin media-query-desktop {
          justify-content: stretch;
          gap: 14px;
        }
      }

      & button {
        width: 146px;
        @mixin media-query-desktop {
          width: 117px;
        }
      }
      & input[type="number"] {
        width: 146px;
        &::placeholder {
          color: var(--color-primary-dark-grayish);
          opacity: 1;
        }
        @mixin media-query-desktop {
          width: 117px;
          padding: 0 12px;
        }
      }
    }

    @mixin media-query-desktop {
      width: 379px;
      height: 388px;
      margin-top: 13px;
      margin-left: 16px;
      flex: 1;
      gap: 40px;
    }
  }

  & .tip-result {
    border-radius: 15px;
    background-color: var(--color-primary-very-dark);
    color: var(--white);
    padding: 24px;

    & table {
      width: 100%;
      margin-top: 16px;
      & caption,
      & thead {
        display: none;
      }

      & tbody tr {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:last-child {
          margin-top: 22px;
        }
      }
      & tbody tr td:first-child {
        display: flex;
        flex-direction: column;
      }
      & .main-text {
        font-size: 16px;
      }
      & .sub-text {
        font-size: 13px;
        color: var(--color-primary-grayish);
      }
      & .amount {
        font-size: 32px;
        letter-spacing: -0.67px;
        color: var(--color-primary);
      }
    }

    & button {
      margin-top: 32px;
      background-color: var(--color-primary);
      color: var(--color-primary-very-dark);
      font-size: 20px;
      text-transform: uppercase;
      &:hover,
      &:focus {
        background-color: var(--color-primary-light);
      }
      &:disabled {
        background-color: #0d686d;
        opacity: 0.35;
      }
    }

    @mixin media-query-desktop {
      width: 413px;
      padding: 40px;

      & table {
        margin-top: 0;
        & tbody tr {
          &:last-child {
            margin-top: 25px;
          }
        }
        & .amount {
          font-size: 48px;
          letter-spacing: -1px;
        }
      }
      & button {
        margin-top: 122px;
      }
    }
  }

  @mixin media-query-desktop {
    width: 920px;
    flex-direction: row;
    border-radius: 25px;
    gap: 48px;
  }
}

.attribution {
  width: 100%;
  font-size: 11px;
  text-align: center;
  padding: 1rem 0;
  & a {
    color: hsl(228, 45%, 44%);
  }
}
